<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- 把SqlSessionFactory交给spring管理 -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <!-- 注入数据源 -->
        <property name="dataSource" ref="dataSource"/>
        <!-- 注入mybatis配置文件路径 -->
        <property name="configLocation" value="classpath:mybatis/mybatis-config.xml"/>
        <!-- 注入映射文件路径 **匹配多级路径-->
        <property name="mapperLocations" value="classpath:mybatis/mapper/*.xml"/>
        <!--扫描别名-->
        <property name="typeAliasesPackage" value="com.code.bean"/>
    </bean>

    <!--<bean id="userMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
        <property name="mapperInterface" value="com.code.mapper.UserMapper"/>
    </bean>

    <bean id="itemMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
        <property name="sqlSessionFactory" ref="sqlSessionFactory"/>
        <property name="mapperInterface" value="com.code.mapper.ItemMapper"/>
    </bean>-->

    <!-- 扫描mapper接口 -->
    <bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <!-- mapper接口所在的包 -->
        <property name="basePackage" value="com.code.mapper" />
    </bean>

</beans>
